*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #D5E1EF;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Outfit', sans-serif;
}
.card{
    position: absolute;
    padding: 1%;
    background-color: #FFFFFF;
    border-radius: 5%;
}
.card-img-top{
    border-radius: 5%;
    max-width: 100%;
}
.card-title{
    color:  hsl(218, 44%, 22%) ;
    margin: 20px 0;
    font-size: 1.4rem;
    text-align: center;
}
.card-text{
    color: hsl(220, 15%, 55%);
    text-align: center;
    margin-bottom: 20px;
}
.attribution{
    position: fixed;
    left: 0;
    bottom: 0;
    color: black;
}